---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.astro";

import ImgService1 from "../assets/images/card-image-2-CGzTEgpV.png";
import ImgService2 from "../assets/images/card-image-6-BadEZ5Nh.png";
import ImgService3 from "../assets/images/card-image-3-LkxHigZE.png";
import Banner from "../components/Banner.astro";

const services = [
  {
    title: "Desarrollo de aplicaciones Web",
    image: ImgService1.src,
    bgColor: "#65fd08",
    textColor: "black",
    bgTextColor: "#ffff",
  },
  {
    title: "Desarrollo de Apps Móviles",
    image: ImgService2.src,
    bgColor: "#f3f3f3ff",
    textColor: "black",
    bgTextColor: "#65fd08",
  },
  {
    title: "Marketing en redes sociales",
    image: ImgService3.src,
    bgColor: "black",
    textColor: "black",
    bgTextColor: "#f3f3f3ff",
    iconBg: "white",
    iconColor: "black",
    iconTextColor: "white",
  },
];
---

<Layout>
  <main>
    <Navbar />
    <Banner />
    <section id="services" class="mx-auto container px-6 py-8">
      <div data-aos="fade-right">
        <div
          class="flex flex-col lg:flex-row items-center lg:items-center gap-6 lg:gap-12 text-center lg:text-left"
        >
          <h1
            class="text-black bg-[#65fd08] px-4 py-1 text-2xl font-medium rounded-md w-fit mx-auto lg:mx-0"
          >
            Servicios
          </h1>
          <p class="max-w-2xl lg:max-w-xl mx-auto lg:mx-0">
            Ofrecemos una variedad de servicios para ayudar a las empresas a
            crecer y tener éxito en línea. Estos servicios incluyen:
          </p>
        </div>
      </div>
      <div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-12">
          {
            services.map((service, index) => (
              <Card service={service} key={index} />
            ))
          }
        </div>
      </div>
      <div>
        <div
          class="flex items-center bg-[#F3F3F3] rounded-2xl my-12 px-15 py-12 md:py-0"
        >
          <div class="left flex flex-col gap-5">
            <h3 class="font-medium text-3xl">Let’s make things happen</h3>
            <p class="w-full md:w-1/2">
              Contact us today to learn more about how our digital marketing
              services can help your business grow and succeed online.
            </p><button
              class="px-[15px] py-[10px] md:px-[22px] md:py-[15px] rounded-xl cursor-pointer whitespace-nowrap bg-black text-white w-full md:w-fit"
              >Get your free proposal</button
            >
          </div>
          <div class="right w-2/4 hidden md:block">
            <img
              alt="service-image"
              width="300"
              src="/assets/service-image-D3jVepXb.png"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
