---
import "../styles/global.css";
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Optarys</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<script>
  import AOS from "aos";
  AOS.init();
</script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar-container");

    window.addEventListener("scroll", () => {
      window.scrollY > 10
        ? navbar!.classList.add("shadow-md")
        : navbar!.classList.remove("shadow-md");
    });
  });
</script>
