---
import Analytics from "../components/Analytics.astro";
import SeoOg from "../components/SeoOg.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <SeoOg image="https://optarys.com/og-image.jpg" />
    <title>Optarys</title>
  </head>
  <body>
    <slot />
    <Analytics />
    <script src="../scripts/main.js"></script>
  </body>
</html>
